MANYTIER_VALIDATION_HOST_LABEL=portable-ubuntu-24.04
MANYTIER_VALIDATION_ENVIRONMENT_SHAPE=portable-ubuntu-24.04
MANYTIER_ZEROTIER_ONE_BIN=/usr/sbin/zerotier-one
MANYTIER_SHADOW_BIN=/usr/local/bin/shadow
